<!doctype html>
  <head>
    <title>Error</title>
  </head>
  <body background="{{url_for('static', filename='img/404.jpg') }}">
    <h1> Oopsy... there's no one here! <a href='/'>return home</a></h1>
    <p> Image used under public commons </p>
  </body>
</html>
