<!DOCTYPE html>
  <head>
    <link href="{{ url_for ('static', filename='css/bootstrap.min.css') }}"
    rel="stylesheet" />
    <link href="{{url_for('static', filename='css/custom.css')}}" rel="stylesheet" />
    <style> body{ padding-top: 60px; padding-bottom: 40px; } </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script>
    <script src="{{ url_for ('static', filename='js/bootstrap.min.js') }}"> </script>
  </head>
  <body>
    <div class="panel-heading">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar" aria-expanded="false"
              aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Football's Home</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/userHome/">Fantasy Football</a></li>
            <li><a href="/stadiums/">Stadiums</a></li>
            <li><a href="/clubs/">Clubs</a></li>
          </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="panel-body container">
      {% block content %} {% endblock %}
    </div>
    <div class="panel-footer navbar-fixed-bottom">
      <div>
        <p>Designed By : <a href="https://bitbucket.org/JR1110/" target="_blank"> Josh R (40114815) </a> </p>
      </div>
    </div>
  </body>
</html>
