{% extends "basePage.html" %}
{% block content %}
  <title>Clubs</Title>
  <div>
    <table class="table table-hover">
      <thead>
        <tr class="table-bordered info">
          <th colspan="2">Club</th>
        </tr>
      </thead>
        {% for club in clubs %}
          {{ club|safe }}
        {% endfor %}
      <tbody>
      </tbody>
    </table>
  </div>
{% endblock %}
