{% extends "basePage.html" %}
{% block content %}
  <title>Game Points</title>
  <form action='' method='GET'>
    <select name="gameWeek">
      {% for g in gw %}
        {{ g|safe }}
      {% endfor %}
    </select>
    <select name="homeTeam">
      {% for c in cl %}
        {{ c|safe }}
      {% endfor %}
    </select>
    <select name="awayTeam">
      {% for c in cl %}
        {{ c|safe }}
      {% endfor %}
    </select>
    <input type="text" name='finalScore'placeholder='Final Score'></input>
    <button type="submit" class="btn btn-default">Chose</button>
  </form>
  {% for h in hpl %}
    <form action='' method='POST'>
      {{ h|safe }}
      <button type="submit" class="btn btn-default">update player</button>
    </form>
  {% endfor %}
  {% for a in apl %}
    <form action='' method='POST'>
      {{ a|safe }}
      <button type="submit" class="btn btn-default">update player</button>
    </form>
  {% endfor %}
{% endblock %}

