{% extends "basePage.html" %}
{% block content %}
  <title>Home</title>
  <div class="homeCenter">
    {% if sesh != "y" %}
    <form name="login_form" action="" method="post">
      <input type="text" placeholder="User Name" name="userName">
      <input type="password" placeholder="Password" name="password">
      <button class="btn btn-default" type="submit" name="button" value="login"> Sign In </button>
      <a class="btn btn-default" href="/register/">Not a user? Sign Up Here</a>
    </form>
    {% else %}
      <a href="/logout/" class="btn btn-default">Logout</a>
    {% endif %}
  </div>
  <div class="homeSquares">
    <p> Reigning Champions </p>
    <a href="/clubs/8/"> Leicester City </a>
  </div>
{% endblock %}
