{% extends "basePage.html" %}
{% block content %}
  <title>New Team</title>
  <div class="cashLeft">
    <div class="saveButton">
    <form action='/saveTeam/' method='get'>
      {% if team[1] != "" and team[2] !="" and team[3] != "" %}
        {% if team[4] != "" and team[5] !="" and team[6] != "" and team[7] != "" and team[8] != "" and team[9] != "" %}
          {% if team[10] != "" and team[11] !="" and team[12] != "" and team[13] != "" and team[14] != "" and team[15] != "" %}
            {% if team[16] != "" and team[17] !="" and team[18] != "" and team[19] != "" %}
                <label for="teamName">Team Name : </label>
                <input type="text" class="form-control" name="teamName"> </input>
                <button type="submit" class="btn btn-default">Save Team</button>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
    </form>
    </div>
    <h3>Remaining Funds : {{ moneyRemaining }} </h3>
  </div>
  <div class="players">
    <div>
      <table class="gkTable">
        <td class="player" id="gk1">{{ team[1] }}
          {% if team[1] != "" %}
            <a href='/removeFromTeam/{{ team[1] }}/'>Remove</a>
          {% endif %}
        </td>
        <td class="player" id="gk2">{{ team[2] }}
          {% if team[2] != "" %}
            <a href='/removeFromTeam/{{ team[2] }}/'>Remove</a>
          {% endif %}
        </td>
        <td class="player" id="gk3">{{ team[3] }}
          {% if team[3] != "" %}
            <a href='/removeFromTeam/{{ team[3] }}/'>Remove</a>
          {% endif %}
        </td>
      </table>
    </div>
    <div>
      <table class="dfTable">
        <td class="player" id="df1">{{ team[4] }}
          {% if team[4] != "" %}
            <a href='/removeFromTeam/{{ team[4] }}/'>Remove</a>
          {% endif %}
        </td>
        <td class="player" id="df2">{{ team[5] }}
          {% if team[5] != "" %}
            <a href='/removeFromTeam/{{ team[5] }}/'>Remove</a> 
          {% endif %}
        </td>
        <td class="player" id="df3">{{ team[6] }}
          {% if team[6] != "" %}
            <a href='/removeFromTeam/{{ team[6] }}/'>Remove</a>
          {% endif %}
        </td>
        <td class="player" id="df4">{{ team[7] }}
          {% if team[7] != "" %}
            <a href='/removeFromTeam/{{ team[7] }}/'>Remove</a>
          {% endif %}
        </td>
        <td class="player" id="df5">{{ team[8] }}
          {% if team[8] != "" %}
            <a href='/removeFromTeam/{{ team[8] }}/'>Remove</a>
          {% endif %}
        </td>
        <td class="player" id="df6">{{ team[9] }}
          {% if team[9] != "" %}
            <a href='/removeFromTeam/{{ team[9] }}/'>Remove</a> 
          {% endif %}
        </td>
      </table>
    </div>
    <div>
      <table class="mdTable">
        <td class="player" id="md1">{{ team[10] }}
          {% if team[10] != "" %}
            <a href='/removeFromTeam/{{ team[10] }}/'>Remove</a>
          {% endif %}
        </td>
        <td class="player" id="md2">{{ team[11] }}
          {% if team[11] != "" %}
            <a href='/removeFromTeam/{{ team[11] }}/'>Remove</a> 
          {% endif %}
        </td>
        <td class="player" id="md3">{{ team[12] }}
          {% if team[12] != "" %}
            <a href='/removeFromTeam/{{ team[12] }}/'>Remove</a> 
          {% endif %}
        </td>
        <td class="player" id="md4">{{ team[13] }}
          {% if team[13] != "" %}
            <a href='/removeFromTeam/{{ team[13] }}/'>Remove</a> 
          {% endif %}
        </td>
        <td class="player" id="md5">{{ team[14] }}
          {% if team[14] != "" %}
            <a href='/removeFromTeam/{{ team[14] }}/'>Remove</a>  
          {% endif %}
        </td>
        <td class="player" id="md6">{{ team[15] }}
          {% if team[15] != "" %}
            <a href='/removeFromTeam/{{ team[15] }}/'>Remove</a> 
          {% endif %}
        </td> 
      </table>
    </div>
    <div>
      <table class="stTable">
        <td class="player" id="st1">{{ team[16] }}
          {% if team[16] != "" %}
            <a href='/removeFromTeam/{{ team[16] }}/'>Remove</a> 
          {% endif %}
        </td>
        <td class="player" id="st2">{{ team[17] }}
          {% if team[17] != "" %}  
            <a href='/removeFromTeam/{{ team[17] }}/'>Remove</a> 
          {% endif %}
        </td>
        <td class="player" id="st3">{{ team[18] }}
          {% if team[18] != "" %}
            <a href='/removeFromTeam/{{ team[18] }}/'>Remove</a> 
          {% endif %}
        </td>
        <td class="player" id="st4">{{ team[19] }}
          {% if team[19] != "" %}
            <a href='/removeFromTeam/{{ team[19] }}/'>Remove</a>  
          {% endif %}
        </td>
      </table>
    </div>
  </div>
  <div class="choosePlayers">
    <div class="dropdown">
      <form action='' method='GET'>
      <select name="position">
        <option value="">- Positions -</option> 
        <option value="Goalkeeper">Goalkeepers</option>
        <option value="Defender">Defenders</option>
        <option value="Midfielder">Midfielders</option>
        <option value="Striker">Strikers</option>
      </select>
      <button type="submit" class="btn btn-default">Update</button>
      </form>
    </div>
    <table>
      {% for player in players %}
        {{ player|safe }}
      {% endfor %}
    </table>
  </div>
{% endblock %}
