{% extends "basePage.html" %}
{% block content %}
  <title> Add Player </title>
  <form action="/addPlayer/">
    <select name="p">
      {% for name in names %}
        {{ name|safe }}
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-default">Edit</button>
  </form>
  <br>
  <div>
    <form action="/addedPlayer/" method="post">
      <div class="form-group">
        <label for="ID"> Player ID : </label>
        <input type="text" class="form-control-static" name="id" disabled value="{{ player.ID }}"> </input>
      </div>
      <div class="form-group">
        <label for="name">Player Name : </label>
        <input type="text" class="form-control" name="name" value="{{ player.name }}"> </input>
      </div>
      <div class="form-group">
        <label for="born">Born on : </label>
        <input type="text" class="form-control" name="born" value="{{ player.born }}"> </input>
      </div>
      <div class="form-group">
        <label for="position">Position : </label>
        <input type="text" class="form-control" name="position" value="{{ player.position }}"> </input>
      </div>
      <div class="form-group">
        <label for="squadNumber">Squad number : </label>
        <input type="text" class="form-control" name="squadNumber" value="{{ player.squadNumber }}"> </input>
      </div>
        <div class="form-group">
        <label for="countryFrom">Country From : </label>
        <input type="text" class="form-control" name="countryFrom" value="{{ player.countryFrom }}" > </input>
      </div>
      <div class="form-group">
        <label for="value">Value : </label>
        <input type="text" class="form-control" name="value" value="{{ player.value }}"> </input>
      </div>
      <div>
        <select name="club">
          {% for club in clubs %}
            {{ club|safe }}
          {% endfor %}
        </select>
      </div>
      <div>
        <button type="submit" class="btn btn-default">Submit Details</button>
      </div>
    </form>
  </div>
{% endblock %}
