{% extends "basePage.html" %}
{% block content %}
  <title>Register</title>
  <form name="register_form" action="" method="post">
    <input type="text" placeholder="User Name" name="userName">
    <input type="password" placeholder="Password" name="password">
    <button class="btn btn-default" type="submit" name="button"
    value="register"> Submit Registration </button>
  </form>
{% endblock %}
