{% extends "basePage.html" %}
{% block content %}
  <title>{{ club[1] }}</title>
  <style> .stripes { position: fixed; top: 0; right: 50px; height: 100%; width: 100px; background-color: rgb({{ club[3] }}); } </style>
  <div class="stripes"></div>
  <div id="all">
    <div id="sClubTable">
      <table class="table">
        <tr>
          <th colspan="2"><h1>{{ club[1] }}</h1></th>
       </tr>
        <tr>
          <th width="35%">Formed : </th>
          <td width="65%">{{ club[2] }}</td>
        </tr>
        <tr>
          <th>Manager : </th>
          <td>{{ club[5] }}</td>
        </tr>
      </table>
      <table class="table">
        <tr>
          <th colspan="2"><h1>{{ stadium[1] }}</h1></th>
        </tr>
        <tr>
          <th width="35%">Capacity : </th>
          <td width="65%">{{ stadium[2] }}</td>
        </tr>
        <tr>
          <th>Year Built : </th>
          <td>{{ stadium[3] }}</td>
        </tr>
      </table>
    </div>
    <div id="players">
      <table>
        <tr>
          <th>Goalkeepers</th>
        </tr>
        {% for g in gk%}
          {{ g|safe }}
        {% endfor %}
        <tr>
          <th>Defenders</th>
        </tr>
        {% for d in df%}
          {{ d|safe }}
        {% endfor %}
        <tr>
          <th>Midfielders</th>
        </tr>
        {% for m in md%}
          {{ m|safe }}
        {% endfor %}
        <tr>
          <th>Strikers</th>
        </tr>
        {% for s in st%}
          {{ s|safe }}
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
