{% extends "basePage.html" %}
{% block content %}
    <title>Stadiums</title>
    <div>
      <table id="stadiumTable" class="table table-hover">
        <thead>
          <tr class="table-bordered info">
            <th>Stadium Name</th>
            <th>Capacity</th>
            <th>Year Openned</th>
          </tr>
        </thead>
        <tbody>
          {% for stadium in stadiums %}
            {{ stadium|safe }}
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
