{% extends "basePage.html" %}
{% block content %}
  <title>Substitute</title>
  <div class="playersChosen">
    {% for g in gk %}
      {{ g|safe }}
    {% endfor %}
    {% for d in df %}
      {{ d|safe }}
    {% endfor %}
    {% for m in md %}
      {{ m|safe }}
    {% endfor %}
    {% for s in st %}
      {{ s|safe }}
    {% endfor %}
  </div>
  <div class="teamSheet">
    <table>
      <tr>
        <th>Goalkeepers</th>
      </tr>
      <tr>
        <td class="pTop pBottom">1. {{ selectedTeam[0] }}</td>
      </tr>
      <tr>
        <td>2. {{ selectedTeam[1] }}</td>
      </tr>
      <tr>
        <td>3. {{ selectedTeam[2] }}</td>
      </tr>
      <tr>
        <th>Defenders</th>
      </tr>
      <tr>
        <td class="pTop">1. {{ selectedTeam[3] }}</td>
      </tr>
      <tr>
        <td>2. {{ selectedTeam[4] }}</td>
      </tr>
      <tr>
        <td>3. {{ selectedTeam[5] }}</td>
      </tr>
      <tr>
        <td class="pBottom">4. {{ selectedTeam[6] }}</td>
      </tr>
      <tr>
        <td>5. {{ selectedTeam[7] }}</td>
      </tr>
      <tr>
        <td>6. {{ selectedTeam[8] }}</td>
      </tr>
      <tr>
        <th>Midfielders</th>
      </tr>
      <tr>
        <td class="pTop">1. {{ selectedTeam[9] }}</td>
      </tr>
      <tr>
        <td>2. {{ selectedTeam[10] }}</td>
      </tr>
      <tr>
        <td>3. {{ selectedTeam[11] }}</td>
      </tr>
      <tr>
        <td class="pBottom">4. {{ selectedTeam[12] }}</td>
      </tr>
      <tr>
        <td>5. {{ selectedTeam[13] }}</td>
      </tr>
      <tr>
        <td>6. {{ selectedTeam[14] }}</td>
      </tr>
      <tr>
        <th>Strikers</th>
      </tr>
      <tr>
        <td class="pTop">1. {{ selectedTeam[15] }}</td>
      </tr>
      <tr>
        <td class="pBottom">2. {{ selectedTeam[16] }}</td>
      </tr>
      <tr>
        <td>3. {{ selectedTeam[17] }}</td>
      </tr>
      <tr>
        <td>4. {{ selectedTeam[18] }}</td>
      </tr>
    </table>
    {% if selectedTeam[3] != "" and selectedTeam[18] != "" and selectedTeam[14] != "" and selectedTeam[8] != "" %}
      <a href='/saveSubs/' class="btn btn-default">Save Substitutions</a>
    {% endif %}
  </div>
{% endblock %}
