{% extends "basePage.html" %}
{% block content %}
  <title>Home</title>
  <div id="userWelcome">
    <h1>Welcome back {{ user }}</h1>
  </div>
  <div class="topButtons">
    <a href="/newTeam/" class="btn btn-default">Make New Team</a>
  </div>
  <div class="currentTeam">
    <table>
      <tr class="gk">
        <td class="pitchTable"></td>
        <td class="pitchTable"></td>
        <td class="pitchTable"></td>
        <td class="pitchTable"></td>
        <td class="pitchTable hasData">{{ team[0]  }}<br>( {{ pointsTotal[0] }} points ) </td>
        <td class="pitchTable"></td>
        <td class="pitchTable"></td>
        <td class="pitchTable"></td>
        <td class="pitchTable"></td>
      </tr>
      <tr class="gk">
        <td class="pitchTable"></td>
        <td class="pitchTable hasData">{{ team[3] }}<br> ( {{ pointsTotal[3] }} points )</td>
        <td class="PitchTable"></td>
        <td class="pitchTable hasData">{{ team[4] }}<br> ( {{ pointsTotal[4] }} points )</td>
        <td class="pitchTable"></td>
        <td class="pitchTable hasData">{{ team[5] }}<br> ( {{ pointsTotal[5] }} points )</td>
        <td class="PitchTable"></td>
        <td class="pitchTable hasData">{{ team[6] }}<br> ( {{ pointsTotal[6] }} points )</td>
        <td class="pitchTable"></td>
      </tr>
      <tr class="gk">
        <td class="pitchTable"></td>
        <td class="pitchTable hasData">{{ team[9] }}<br> ( {{ pointsTotal[9] }} points )</td>
        <td class="pitchTable"></td> 
        <td class="pitchTable hasData">{{ team[10] }}<br> ( {{ pointsTotal[10] }} points )</td>
        <td class="pitchTable"></td>
        <td class="pitchTable hasData">{{ team[11] }}<br> ( {{ pointsTotal[11] }} points )</td>
        <td class="pitchTable"></td>
        <td class="pitchTable hasData">{{ team[12] }}<br> ( {{ pointsTotal[12] }} points )</td>
        <td class="pitchTable"></td>
      </tr>
      <tr class="gk">
        <td class="pitchTable"></td>
        <td class="pitchTable"></td>
        <td class="pitchTable"></td>
        <td class="pitchTable hasData">{{ team[15] }}<br> ( {{ pointsTotal[15] }} points )</td>
        <td class="pitchTable"></td>
        <td class="pitchTable hasData">{{ team[16] }}<br> ( {{ pointsTotal[16] }} points )</td>
        <td class="pitchTable"></td>
        <td class="pitchTable"></td>
        <td class="pitchTable"></td>
      </tr>
      <tr class="gk">
        <td class="pitchTable"></td>
        <td class="pitchTable"></td>
        <td class="pitchTable"></td>
        <td class="pitchTable"></td>
        <td class="pitchTable"></td>
        <td class="pitchTable"></td>
        <td class="pitchTable"></td>
        <td class="pitchTable"></td>
        <td class="pitchTable"></td>
      </tr>
      <tr class="gk">
        <td class="pitchTable sub">{{ team[1] }}</td>
        <td class="pitchTable sub">{{ team[2] }}</td>
        <td class="pitchTable sub">{{ team[7] }}</td>
        <td class="pitchTable sub">{{ team[8] }}</td>
        <td class="pitchTable sub">{{ team[13] }}</td>
        <td class="pitchTable sub">{{ team[14] }}</td>
        <td class="pitchTable sub">{{ team[17] }}</td>
        <td class="pitchTable sub">{{ team[18] }}</td>
        <td class="pitchTable sub switch"><a class = "btn btn-default" href='/substitute/'> Substitute </a></td>
      </tr>
    </table>
  </div>
{% endblock %}
