#sClubTable {
    position: relative;
    width: 40%;
    float: left;
    min-width: 320px;
}


#players {
    clear: right;
    padding-left: 10px;
    position: relative;
    width: 50%;
    float: right;
    min-width: 200px;
}

body {
    background-color: rgb(222,226,227);
}

#all {
    min-width: 750px;
}

.homeSquares {
    position: relative;
    left: 15%;
    margin-top: 20px;
    padding-top: 20px;
    display: inline-block;
    width: 60%;
    height: 100px;
    vertical-align: center;
    text-align: center;
    font-size: 15 vw;
    margin-left: -4px;
    background-color: rgba(0,106,199,0.5);
    font-weight: bold;
}

.player {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    vertical-align: center;
    text-align: center;
}

.players {
    float: left;
    width: 65%;
    min-width: 400px;
}

.pitchTable {
    width: 120px;
    height: 100px;
    text-align: center;
    vertical-align: center;
}

.hasData {
    border-bottom: 1px solid white;
}

.sub {
    border-top: 1px solid white;
}

.switch {
    border-left: 1px solid white;
}

.dropdown {
    height: 100%;
}

.gk {
    background-color: #4CAF50;
    color: white;
}

.currentTeam {
    margin: auto;
    width: 90%;
}

.topButtons {
    position: relative;
    left: 45%;
    padding-bottom: 10px;
}

.currentTeam {
    padding-bottom: 10px;
};

.sButton {
    background-color: rgb(190,190,130);
}

.pTop {
    border-top: 1px dashed red;
}

.pBottom {
    border-bottom: 1px dashed red;
}

.playersChosen {
    float: left;
    left: 30%;
}

.teamSheet {
    float: right;
    width: 70%;
}

.homeCenter {
    margin: auto;
    width: 50%;
}
